
/* ============ Format Title, ubtitles of the ABOUT-subpage ==================*/

/* ============ Format Title, ubtitles of the Location&Party-subpage ==================*/

body {
  font-family: 'Quicksand', sans-serif;
  margin: 5rem;
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  body {
    margin: 1rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    margin: 0.7rem;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    margin-left: 0.2rem;      /* ← remove the 3.5rem left push */
  }
}

h2 {
  color: #7F8A80;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1px;
}

h3 {
  color: #254036;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0;
 
}



/* Links styling */
a {
  font-family: "Quicksand" !important;
  color: #254036;
  font-size: 1.0em;
  text-transform: none;
}


.typeform-wrapper {
  height: 500px; /* a bit taller by default */
  margin-bottom: 1.5rem;
  overflow: hidden;
  position: relative;
}

.typeform-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .typeform-wrapper {
    height: 550px; /* give more room on mobile */
    margin-bottom: 0; /* remove bottom margin on mobile */
  }
}