
/* ============ Format Title, ubtitles of the Location&Party-subpage ==================*/

body {
  font-family: 'Quicksand', sans-serif;
  margin: 5rem;
  padding: 3rem;
}

@media screen and (max-width: 768px) {
  body {
    margin: 1rem;
    padding: 1rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    margin: 0.7rem;
    padding: 0.5rem;
  }
}

h1 {
  color: #FF6A00;
  font-family: "Petrona";
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1px;
  margin-left: 3.5rem;
}

@media screen and (max-width: 768px) {
  h1 {
    margin-left: 0.2rem;      /* ← remove the 3.5rem left push */
  }
}

h2 {
  color: #7F8A80;
  font-family: "Petrona";
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1px;
}

/* Links styling */
a {
  font-family: "Quicksand" !important;
  color: #254036;
  font-size: 1.0em;
  text-transform: none;
}


